venv*
.idea*
__pycache__*
*/.DS_Store
.DS_Store
tmp
*.egg-info
.coverage
*.npy
*.ipynb_checkpoint*
build
dist
*.log
*.json
*.h5
*.mat
*.1
*.2
*.3
*.4
*.5
*.svg

sandbox/Untitled.ipynb
/_docs/assets/cad/PEEP-expiratory-valve/
/_docs/assets/DXFs/
/_docs/assets/pcbs/
/_docs/assets/solidworks/
/_docs/assets/STLs/
/_docs/assets/README.md
/docs/cad/PEEP-expiratory-valve/
/docs/DXFs/
/docs/pcbs/
/docs/solidworks/
/docs/STLs/
/docs/assets/*
