language: python
# python versions to use during the tests
python:
  - "3.7"
before_install:
  - pip install -U pip
  - pip install -U pytest
  - pip install -U pytest-cov
  - pip install -U coveralls
install:
  - pip install -e .
# command to run tests
script:
  - pytest --cov=vent --cov-report term-missing tests
after_success:
  - coveralls
