.header-img
  display: flex
  align-items: end
  margin-bottom: 2rem
  @media (min-width: $breakpoint-tablet)
    flex-wrap: wrap


  & > img
    width: 40%
    //min-width: 400px
    @media (min-width: $breakpoint-tablet)
      width: 100%


